<h2>Question List</h2>
<% questions.order('qns_no ASC').each do |question| %>
  <% if !question.label.nil? %>
    <div class="panel panel-default">
      <div class="panel-body" style="display: flex; align-items: center;">

        <div class="col-md-1" style="display: flex; flex-direction: column; align-items: center; ">
          <%= link_to '<span class="glyphicon glyphicon-chevron-up btn btn-default" aria-hidden="true"></span>'.html_safe, move_up_formtemplate_question_path(formtemplate_id: question.form_template, id: question), remote: true %><br />
          <%= link_to '<span class="glyphicon glyphicon-chevron-down btn btn-default" aria-hidden="true"></span>'.html_safe, move_down_formtemplate_question_path(formtemplate_id: question.form_template, id: question), remote: true %>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-2">
              Q. <%= question.qns_no %>
            </div>
            <div class="col-md-8">
              <%= question.label %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Type:
            </div>
            <div class="col-md-3">
              <%= question.qns_type %>
            </div>
            <div class="col-md-2">
              Required:
            </div>
            <div class="col-md-3">
              <%= question.required %>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <%= link_to 'Edit', edit_formtemplate_question_path(formtemplate_id: question.form_template, id: question), class: "btn btn-primary" %>
          <%= link_to 'Delete', formtemplate_question_path(formtemplate_id: question.form_template, id: question), method: :delete, remote: true, class: "btn btn-primary" %>
        </div>

        <!--
        <table class="table">
          <tr>
            <td span="2">Title: <%= question.label %></td>
          </tr>
          <tr>
            <td>Question Type: <%= question.qns_type %></td>
            <td>
            <%= link_to 'Edit', edit_formtemplate_question_path(formtemplate_id: question.form_template, id: question) %>
            <%= link_to 'Delete', formtemplate_question_path(formtemplate_id: question.form_template, id: question), method: :delete, remote: true %>
            </td>
          </tr>
        </table>
        -->
      </div>
    </div>
  <% end %>
<% end %>
