<h1>Form Templates List</h1>
<div style="padding: 0 0 30px 0; display: flex; justify-content: flex-end">
  <%= link_to "New Form Template", new_formtemplate_path, class: "btn btn-primary" %>
</div>
<table class="table">
  <tr>
    <th>
      Form Template ID
    </th>
    <th>
      Template Title
    </th>
    <th>
      Description
    </th>
    <th>
      Author
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% @formtemplates.each do |formtemplate| %>
    <tr>
      <td>
        <%= formtemplate.id %>
      </td>
      <td>
        <%= link_to formtemplate.title, formtemplate_path(formtemplate) %>
      </td>
      <td>
        <%= formtemplate.description %>
      </td>
      <td>
        <%= formtemplate.user.first_name %>
      </td>
      <td>
        <%= link_to 'Edit', edit_formtemplate_path(formtemplate) %>
        <%= link_to 'Delete', formtemplate_path(formtemplate), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
