<% @heading = "Edit" %>
<%= render 'forms/header' %>
<%= simple_form_for @form do |f| %>
  <% if params[:form_template].nil? %>
    <%= f.association :form_template, collection: FormTemplate.all %>
  <% else %>
    <%= f.association :form_template, collection: FormTemplate.all, selected: params[:form_template] %>
  <% end %>
  <%= f.input :form_date, as: :date %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.button :submit %>
<% end %>
<div style="display: flex; justify-content: flex-end;">
<%= link_to 'Delete this form', form_path(@form), method: :delete, data: { confirm: "Are you sure you want to delete this form?" }, class: "btn btn-danger"%>
</div>
