<h1>Forms edit</h1>
<%= simple_form_for @form do |f| %>
  <% if params[:form_template].nil? %>
    <%= f.association :form_template, collection: FormTemplate.all %>
  <% else %>
    <%= f.association :form_template, collection: FormTemplate.all, selected: params[:form_template] %>
  <% end %>
  <%= f.input :form_date, as: :date %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.button :submit %>
<% end %>

