
<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @form.title %></h1>
  </div>
  <div class="panel-body" style="padding: 30px">

    <%= simple_form_for @form, url: attempting_form_path, method: :post do |f| %>

      <% @form.questions.each_with_index do |question, index| %>
        <% params_symbol = ('q'+(index+1).to_s).to_sym %>
        <div class="form-inputs" style="padding: 30px 0">
        <h4><%= question.label %></h4>
          <% case question.qns_type %>
          <% when 1 %>
            <%= f.input params_symbol %>
          <% when 2 %>
            <%= f.input params_symbol, collection: (1..5) %>
          <% when 3 %>
            <%= f.input params_symbol, as: :text %>
          <% end %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.button :submit %>
      </div>
    <% end %>

  </div>
</div>
