
<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @form.title %></h1>
    <%= @form.description %>
  </div>


  <% if flash[:notice] %>
    <div class="alert alert-warning" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="panel-body" style="padding: 30px">

    <%= simple_form_for @form, url: attempting_form_path, method: :post do |f| %>

      <% @form.questions.each_with_index do |question, index| %>
        <% params_symbol = ('q'+(index+1).to_s).to_sym %>
        <div class="form-inputs" style="padding: 30px 0">
        <h4><%= question.label %></h4>
          <% case question.qns_type_before_type_cast %>
          <% when 1 %>
            <%= f.input params_symbol, required: true,
              input_html: { value: (params[:values_cache].nil? ? "" : params[:values_cache][index]) } %>
          <% when 2 %>
            <%= f.input params_symbol, collection: (1..5), include_blank: "(Select one)", selected: (params[:values_cache].nil? ? nil : params[:values_cache][index]) %>
          <% when 3 %>
            <%= f.input params_symbol, as: :text, required: true,
              input_html: { value: (params[:values_cache].nil? ? "" : params[:values_cache][index]) } %>
          <% end %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.button :submit %>
      </div>
    <% end %>

  </div>
</div>
