<% if flash[:notice] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>Forms index</h1>
<% if current_user.is_admin %>
  <div style="padding: 0 0 30px 0; display: flex; justify-content: flex-end">
    <%= link_to 'New Form', new_form_path, class: "btn btn-primary"%>
  </div>
<% end %>

<table class="table">
  <tr>
    <th>Title and Description</th>
    <th>Author</th>
    <th>Date</th>
    <% if current_user.is_admin %>
      <th>Template Title</th>
      <th>Attempts</th>
    <% end %>
    <th>Status</th>
    <th>Link</th>
  </tr>

  <% @forms.each do |form| %>
    <tr>
      <td>
        <% if current_user == form.user || current_user.is_admin == true %>
        <b><%= link_to form.title, form_path(form) %></b>
        <% else %>
        <b><%= form.title %></b>
        <% end %><br />
        <%= form.description %>
      </td>
      <td>
        <%= form.user.first_name %>
      </td>
      <td>
        <%= form.form_date %>
      </td>
      <% if current_user.is_admin %>
        <td>
          <%= form.form_template.title %>
        </td>
        <td>
          <% if form.questions.present? %>
            <%= form.questions.first.answers.where(form: form).count %> / <%= User.count - 1 %>
          <% else %>
            No Questions to do!
          <%  end %>
        </td>
      <% end %>
      <!-- Check log model -->
      <% if form.logs.exists?(user: current_user) %>
        <td>
          <span class="glyphicon glyphicon-ok"></span>
        </td>
        <td>
          Done
        </td>
      <% else %>
        <td>
          <span class="glyphicon glyphicon-remove"></span>
        </td>
        <td>
          <!-- Click to attempt or already Done -->
          <%= link_to 'Attempt Now', attempt_form_path(form) %>
        </td>
      <% end %>
      </td>
    <tr>
  <% end %>
</table>
