<h1>Forms index</h1>
<%= link_to 'New Form', new_form_path %>

<table class="table">
  <tr>
    <th>Title and Description</th>
    <th>Author</th>
    <th>Date</th>
    <th>Template Title</th>
    <th>Last Attempt On</th>
    <th>Attempt</th>

  </tr>
  <% @forms.each do |form| %>
    <tr>
      <td>
        <% if current_user == form.user || current_user.is_admin == true %>
        <b><%= link_to form.title, form_path(form) %></b>
        <% else %>
        <b><%= form.title %></b>
        <% end %><br />
        <%= form.description %>
      </td>
      <td>
        <%= form.user.first_name %>
      </td>
      <td>
        <%= form.form_date %>
      </td>
      <td>
        <%= form.form_template.title %>
      </td>
      <td>
        <!-- Check log model -->
      </td>
      <td>
        <!-- Click to attempt or already Done -->
        <%= link_to 'Attempt Now', attempt_form_path(form) %>
      </td>
    <tr>
  <% end %>
</table>
