<h1>New Form</h1>

<%= simple_form_for @form do |f| %>
  <%= f.input :form_template, collection: FormTemplate.all %>
  <%= f.input :form_date, as: :date %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.button :submit %>

<% end %>
