<h1>New Form</h1>

<%= simple_form_for @form do |f| %>
  <% if params[:form_template].nil? %>
    <%= f.input :form_template, collection: FormTemplate.all, default: FormTemplate.last %>
  <% else %>
    <%= f.input :form_template, collection: FormTemplate.all, input_html: { value: params[:form_template]} %>
  <% end %>
  <%= f.input :form_date, as: :date %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.button :submit %>
  <% byebug %>
<% end %>
